html, body {
    height: 100%; /* Asegura que html y body ocupen todo el alto */
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://i.pinimg.com/1200x/4e/65/6d/4e656d3d68e300fff3d0480c6f57ff80.jpg'); /* Imagen de fondo */
    background-size: 100% 100%; /* Estira la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    filter: saturate(200%);
}

.containertodosloselementos {
    min-height: 100vh; /* Asegura que el contenedor cubra al menos el 100% de la pantalla */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    body {
        background-size: 100% 100%; /* Estira la imagen en pantallas pequeñas también */
        background-position: center;
        height: 100vh; /* Ocupa todo el alto del viewport */
        filter: saturate(150%);
    }
}
/*body {
    background-color: black;
    font-weight: 100; 
    margin: 0; 
    padding: 0; }*/
 

  @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

  .pixelify-sans-header {
    font-family: "Pixelify Sans", sans-serif;
    font-weight:900;
    font-style: normal;
  }
  .conteiner1{
    background-image: url("https://i.pinimg.com/originals/f1/28/78/f12878425049d733d3659a243859601c.gif");
    text-align:center;/*https://i.pinimg.com/1200x/7e/3b/50/7e3b5045d47030a4906e1dd2954cd33b.jpg*/
    background-size: cover;
    background-position:center ;
    background-repeat:no-repeat ;
    color:rgb(83, 231, 24); 
    width:310px ;
    height: 550px;
   
    scale: 1;
}
.conteiner2{
    background-image: url("https://i.pinimg.com/originals/fa/de/06/fade06fdb98c309859796fb0e764ab0d.gif");
    text-align:center;/*https://i.pinimg.com/1200x/3d/74/68/3d7468d1bb523674726ba6934a396566.jpg*/
    background-size: cover;
    background-position:center ;
    background-repeat:no-repeat ;
    color:red; 
    width:310px ;
    height: 550px;
   
    scale: 1;
}
.conteiner3{
    background-image: url("https://i.pinimg.com/736x/e9/ed/fb/e9edfbd100c2822bac2443be8f5650ef.jpg");
    text-align:center;/*https://i.pinimg.com/1200x/6b/9a/c4/6b9ac42d4df2452111f38220e366b72e.jpg*/
    background-size: cover;
    background-position:center ;
    background-repeat:no-repeat ;
    color:red; 
    width:310px ;
    height: 550px;
   
    scale: 1;
}
.conteiner4{
    background-image: url("https://i.pinimg.com/originals/9b/cd/91/9bcd91848dcc8c531cfb205f4e007a8c.gif");
    text-align:center;/*https://i.pinimg.com/1200x/38/bd/e8/38bde8b53863932cf7ba13cede52d808.jpg*/
    background-size: cover;
    background-position:center ;
    background-repeat:no-repeat ;
    color:rgb(246, 255, 0); 
    width:310px ;
    height: 550px;
   
    scale: 1;
}
/*para centrar los textos*/
.text-center {
    text-align: center; /* Centra el texto*/
    width: 100%; /* con el 100 el contenedor ocupa todo */
    margin: 0 auto; /* esto centra el contenedor */
}
/*con esto centro la imagen de mi*/
.otrocontainer {
    text-align: center; /* Centra la imagen dentro del contenedor */
    width: 100%; 
    margin-top: 20px; /* Añade espacio superior si lo deseas */
}
/*verifica que la imagen exista en la web,creo por lo que entendi*/
.centered-image {
    display: inline-block; 
}
/*esta se usa para centrar el texto*/
.centered-text {
    text-align: center;
    margin: 0 auto; 
}
/* esta es para que la imagen vuelva a su posicion original despues de que fue resaltada  */
.centered-image {
    /* Estilos normales */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* y esta es la que me resalta la imagen cuando paso el puntero por arriba*/
.centered-image:hover {
    transform: scale(1.1); /* Aumenta el tamanio ligeramente */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); /*la sombrea */
    cursor: pointer; /* Cambia el puntero  */
}
.pixelify-sans-header {
    font-family:"Pixelify Sans", sans-serif ;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

#txtmensaje {
    width: 400px; /* Ajusta el ancho del input al 100% del contenedor */
    height: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: left;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana del navegador */
}
.video-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
        /* Centra verticalmente */
             /* Abarca toda la pantalla */
}