estilos.css
body {
    background-color: black; /* Reemplaza con el color deseado */
    margin: 0; /* Opcional: Elimina el margen predeterminado del navegador */
    padding: 0; /* Opcional: Elimina el padding predeterminado del navegador */
  }
